* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
header {
    max-width: 100%;
    height: auto;
    padding-top: 28px;
     padding-left: 50px; 
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links li {
    list-style-type: none;
    font-Weight: 400;
    font-Size: 14px;
   
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}
.nav-links li.active a{
    color: #1E1E1E;
    font-weight: 600;;
}
.nav-links li select {
    border: none;
    outline: none;
    color: #333;
    font-Weight: 400;
    font-Size: 14px;
}
.nav-links li:first-child {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo i {
    font-size: 60px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search .search-btn {
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.search .search-btn button {
    background-color: #882BEC;
    width: 50px;
    height: 30px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    outline: none;
    position:relative;
}
.search .search-btn button i {
    font-size: 14px;
    text-align: center;
    color: #fff;
    position:absolute;
    top:8px;
   left:15px;
}
.search .search-input {
    
    Width: 170px;
    Height: 30px;
    display: flex;
    align-items: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: #333 solid 1px;
}
.search .search-input i {
    font-size: 14px;
    margin-left: 5px;
    color: #1E1E1EB2;
}

.search .search-input input {
        width: 100%;
    padding-left: 8px;
    border: none;
    outline: none;
    color: #1E1E1EB2;
    font-Weight: 400;
    font-Size: 14px;
}
.currency {
    display: flex;
    align-items: center;
    Gap: 2px;
}
.currency select {
    font-Weight: 400;
    font-Size: 16px;
    border: none;
    outline: none;
}
.currency img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.cart {
    position: relative;
}
.cart .cart-circle {
    Width: 44px;
    Height: 44px;
    border-radius: 1000px;
    background-color: #882BEC;
    position: relative;
     display: flex;
    justify-content: center;
    align-items: center;
}

.cart .cart-circle i {
   color: #fff;
    font-size: 20px;
}

.cart-circle .count {
    background: #FF0000;
    width: 16px;
    height: 16px;
    left: 25px;
    top: -5px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-circle .count p {
  font-size: 10px;
    font-weight: 400;
    color:#fff
}

/* Gebeyaaa */

.gebeya {
    background: #882BECF2;
    max-width: 100%; 
    overflow-x: hidden; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

padding:0px 50px 30px 50px;
    margin-top: 30px ;
    
}
.gebeya > div {
    flex: 1; 
    max-width: 33%; 
    box-sizing: border-box;
}

.gebeya img {
    max-width: 100%;
    height: auto; 
    display: block;
}
.gebeya .col-one,
.gebeya .col-two,
.gebeya .col-three {
    flex: 1 1 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; 
}

.gebeya .col-one img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.gebeya .col-one h1 {
    font-family: 'Alfa Slab One';
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 130px;
    text-decoration-skip-ink: none;
    color: white;
}

.gebeya .col-two img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 150px;
 
}

.gebeya .col-two button {
    width: 366px;
    height: 66px;
    border-radius: 8px;
    background-color: #FEA301;
    border: none;
    outline: none;
    color: #222222;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  
}

 .col-two button:hover {
    background-color: #d98d00;
    color: #fff;
}


.gebeya .col-three img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}


.gebeya .col-three p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #fff;
    margin-top:150px;
    margin-bottom: 30px;
}

.gebeya .col-three h1 {
    font-family: Alfa Slab One;
    font-size: 100px;
    font-weight: 400;
    line-height: 175.23px;
    margin-bottom: 20px;
    color: #ffffff;
}


/* Latest */


.latest,
.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:100px 40px 100px 40px;
}

.latest h3,
.category h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #1E1E1E;
}

.latest .latest-buttons,
.category .latest-buttons {
    width: 112px;
    height: 40px;
    border-radius: 0px 100px 100px 0px;
    display: flex;
    gap:1.5rem;
    align-items: center;
    justify-content: space-evenly;
   
}

.latest .latest-buttons .left,
.category .latest-buttons .left {
    width: 40px;
    height: 40px;
    padding: 8px;
    gap: 0px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: #FEA301;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.latest .latest-buttons .right,
.category .latest-buttons .right {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 8px;
    gap: 0px;
    background-color: #FEA301;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.latest .latest-buttons .left i,
.category .latest-buttons .left i {
    color: #fff;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 12px;
    padding: 6px 0px 6px 0px;
    gap: 0px;
}

.latest .latest-buttons .right i,
.category .latest-buttons .right i {
    color: #fff;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 10px;
    padding: 6px 0px 6px 0px;
    gap: 0px;
}


/* latest collection grid */

.latest-collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin: 40px;
}
.latest-collection-card {
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 435px;
    height: auto;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    border: solid #C1C1C1 2px;
    border-radius: 10px;
    padding: 12px;
}
.latest-collection-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.latest-collection-card .latest-collection {
    max-width: 403px;
    width: 100%;
    height: 300px;
}
.latest-collection .images {
    max-width: 403px;
    width: 100%;
    height: 258px;
    border-radius: 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center; 
    align-items: center;    
    position: relative;
    overflow: hidden;
}
.latest-collection #bag,
.latest-collection #shoes,
.latest-collection #gown {
    width: auto; 
    height: 100%; 
    object-fit: cover; 
    display: block;
    margin: 0 auto;
}
.latest-collection #bag {
    max-width: 227px;
    height: 258px;
    display: block;
    object-fit: cover;
}
.latest-collection #shoes {
    width: 213px;
    height: 213px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.latest-collection #gown {
    width: 161px;
    height: 202px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}


.latest-collection .rates {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images .collection-buttons {

   position: absolute;
    top: 10px;
    left: 10px;
    
    display: flex;
    justify-content: space-between;
   
    width: calc(100% - 20px); /* Adjust the width to fit inside the image container */
    /* padding: 0 10px;  */
}

.images .collection-buttons button:nth-child(1) {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    outline: none;
    position: relative;
}

.images .collection-buttons button:nth-child(1) i {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 8px;
    padding: 3px 2px 2.65px 2px;
    color: #333;
}

.images .collection-buttons button:nth-child(2) {
    width: 67px;
    height: 34px;
    padding: 8px 10px 8px 10px;
    border-radius: 100px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.latest-collection .rates {
    margin-top: 20px;
}

.latest-collection .rates button {
    width: 67px;
    height: 26px;
    padding: 4px 10px 4px 10px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #C1C1C1;
    background-color: #fff;
}

.latest-collection .rates p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1EB2;
}

.latest-collection .rates p i {
    width: 24px;
    height: 24px;
    color: #FFD700;
}

.latest-collection-card .items {
    text-align: left;
    margin: 30px 0px 30px 0px;
}

.latest-collection-card .items h3 {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
}

.latest-collection-card .items p {
    font-size: 18px;
    font-weight: 500;
    color: #808080;
}

.latest-collection-card .cart-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest-collection-card .cart-price p {
    font-size: 20px;
    font-weight: 600;
}

.latest-collection-card .cart-price button {
    width: 130px;
    height: 60px;
    font-weight: 500;
    border-radius: 16px;
    font-size: 20px;
    color: #fff;
    background-color: #FEA301;
    border: none;
    outline: none;
    cursor: pointer;
}




/* category-button */

.catagoreis-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:150px 40px 80px 40px;
}

.catagoreis-button button {
    width: 190px;
    height: 68px;
    border-radius: 100px;
    border: 2px solid #C1C1C1;
    background-color: #fff;
    transition: 0.6s ease-in-out;
    font-weight: 400;
    font-size: 20px;
    color: #1E1E1E;
}

.catagoreis-button button:hover {
    background-color: #FEA301;
    color: #fff;
}


/* item grid */

.items-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    margin: 40px;
    overflow: hidden;
    max-width: 100%; 
    padding: 0 1rem;
}

.items-grid .items-card {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 435px;
    height: auto;
    padding: 15px 5px;
    border-radius: 16px;
    border: 2px solid #C1C1C1;
}

.items-grid .items-card .item-img {
    width: 143px;
    height: 100px;
    padding: 10px 32px 9px 30px;
    border-radius: 16px;
    background-color: #F2F2F2;
}

.items-grid .items-card .item-img img {
    width: 81px;
    height: 81px;
}

.items-grid .items-card a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #808080;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.see-more {
    width: 164px;
    height: 45px;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #882BECF2;
    color: #fff;
    text-align: center;
    margin: 0 auto;
 cursor: pointer;
}

/* summer collection */



.summer-collection {
    overflow: hidden;
    margin: 100px 40px;
    max-width: 100%;
    /* width: 100%; */
    height: 502px;
    border-radius: 24px;
    background-color: #D0D0D0;
    position: relative;
} 

 .summer-collection img {
    max-width: 100%; 
    height: 502px; 
    z-index: 1;
    position: relative;
} 
.one,.two,.three,.four,.five,.six, .seven {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
  }

.one { 
     top: 360px;
      left: 430px;
      background-color: #882BEC7D;
      width: 22px;
      height: 22px;
     }
.two {
     top: 450px;
      left:600px; 
      background-color: #A35CF0;
       width: 40px;
    height: 40px;
 }
.three { 
    top: 350px; 
    left: 700px;
     background-color: #FFD700;
     width: 58px;
     height: 58px;
     }
.four { 
    top: 150px; 
    left: 700px;
     background-color: #A35CF0;
     width: 40px;
     height: 40px;
     }
.five {
     top: 20px; 
     left: 500px;
      background-color: #FFD700;
      width: 22px;
      height: 22px;
     }
.six { 
    top: 460px; 
    left: 850px;
     background-color: #882BEC7D; 
     width:22px;
     height: 22px;
    }
.seven { 
    top:100px; 
    left: 880px; 
    background-color: #A35CF0;
    width: 40px;
    height: 40px; }
.collection-text {
    padding-left: 50px;
    display: grid;
    align-items: center;
    justify-content: space-around;
   

 
   
}

.summer-collection .collection-content .collection-text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #9847EF;
}

.summer-collection .collection-content .collection-text h1 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: #9847EF;
}

.collection-content {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.collection-text button {
    width: 280px;
    height: 62px;
    padding: 10px;
    border-radius: 8px;
    background-color: #FEA301;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
} 


/* category grid */

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 40px;
    overflow-x: hidden;
}

.categories-grid .category-card {
    width: 100%;
    height:auto;

    text-align: center;
}

.categories-grid .category-card .category-image {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 16px;
    background-color: #F2F2F2;
    text-align: center;
    margin-bottom: 30px;}

.categories-grid .category-card .category-image img {
    width: 243px;
    height: 247px;

  
}
.categories-grid .category-card h4{
font-size: 28px;
font-weight: 600;
color:#1E1E1E;

}

.categories-grid .category-card p{
   
font-size: 20px;
font-weight: 300;
color:#808080;

}

/* footer */
footer {
    max-width: 1512px;
    width: 100%;
    height: auto;
    background-color: #882BECF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top:150px;
    padding:50px;
}

.contacts .logo {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
   
}

footer .contacts {
    display: block;
    flex-direction: column;
    align-items: center;
   
    justify-content: space-around;
}

.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2.5rem;
}
.information .sec-title{
font-size: 28px;
font-weight:700;
color:#fff;
text-align: left;


}
.socail-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socail-media i {
    font-size: 32px;
    color: #fff;
}

.information p {
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
}

.information ul li {
    list-style-type: none;
}

.information ul li a {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  
}
/* responsive the item-grid */
@media (max-width: 1200px) {
    .items-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 900px) {
    .items-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .items-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 400px) {
    .items-grid {
        grid-template-columns: 1fr; 
    }
}
